<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>한양플레이트</title>
    {% block style %}
    {% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_js }}&libraries=services"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
</head>
<body>
<div class="navigation">
    <div class="inner">
        <a class="logo gugi" href="{% url 'plate:list' %}">한양플레이트</a>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<div class="footer">
    <a href="javascript:alert('추가 예정인 기능입니다.')">맛집추가요청</a>
    <a href="javascript:alert('추가 예정인 기능입니다.')">문의하기</a>
    <a href="https://github.com/Neulhan">개발자정보</a>
</div>
</body>
</html>